<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    
    <title>Morphic</title>
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
  
  </head>
  <header class="text-white masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xl-9 mx-auto position-relative">
                <input class="search-bar" type="text" placeholder="Search">
                <div class="space-divider"></div> 
                <form>
                    <div class="row">
                        <div class="col-8 col-md-8 mb-2 mb-md-0"> 
                            <h1 class="all-songs">All Songs</h1>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </header>
  <body>

    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<style scoped>

body{
  background: black;max-width:auto;
}
.text-white.masthead{
  background-image:url(https://www.teahub.io/photos/full/198-1986327_rave-party-lights-rave-background.jpg);
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

header.masthead {
  background-color: #343a40;
  background-position: center;
  position: relative;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: .7;
}
.search-bar {
    background: #515151;
    color: white;
    font-family: sans-serif, 'Roboto';
    padding: 8px 8px 8px 10px;
    border-radius: 6px;
    border: none;
    width: 70%;
    font-size: 13px;

}
.all-songs{
    font-family: Montserrat Black;
}
.space-divider {
    padding-top: 5rem;
}
  </style>
  