<template>
  <div class="mtable">
    
     
        <div class="row">
        <div class="main-content">
            <div class="music-container">
            <div class="col-md-8 col-lg-8 col-xl-9 mx-auto position-relative text-align-left">
            <table class="music-table">
                    <thead>
                        <tr class="table-row">
                            <th class="table-header"> </th>
                            <th class="table-header">Title</th>
                            <th class="table-header">Artist</th>
                            <th class="table-header">Duration</th>
                            
                        </tr>
                    </thead>
                    <tbody class="table-body">
                    <tr class="table-row">
                        <td class="table-items">1</td>
                        <td class="table-items">Sky Full of Stars</td>
                        <td class="table-items">Coldplay</td>
                        <td class="table-items">04:34</td>
                        </tr>
                    <tr class="table-row">
                        <td class="table-items">2</td>
                        <td class="table-items">Happy Now</td>
                        <td class="table-items">Kygo</td>
                        <td class="table-items">04:04</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-items">3</td>
                        <td class="table-items">Without You</td>
                        <td class="table-items">Avicii</td>
                        <td class="table-items">03:01</td>
                    </tr>
                        <tr class="table-row">
                        <td class="table-items">4</td>
                        <td class="table-items">Happier Than Ever</td>
                        <td class="table-items">Billie Eilish</td>
                        <td class="table-items">04:59</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

  </div>
  
</template>

<script>
export default {
  name: 'musictable',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.main-content {
    padding: 30px 50px 25px 17px;
    color: white;
    margin: auto;
    justify-content: center;
    
}
.music-container{
    padding: 1.6vw 0vw 0.9vw 8vw;
    justify-content: center;
    height: 18.5vw;
    margin: auto;
    overflow: auto;
    width: 100%;
}
.music-table {

    table-layout: fixed;
    padding: 1em;
}
.table-row{
    border-bottom: 3px solid black;
    
    
}
.table-row:hover td {
    color: #5526C4;
    cursor: pointer;
    }

.td:hover {
    text-overflow: clip;
    
}

.table-header {
    position: sticky;
    top: 0;
    padding: 1.2vw 2vw 1.3vw 2vw;
    background: #171717;
    color: white;
    width: 450px;
    font-size: 1vw;
    font-weight: 400;
}
.table-items {
    background: #171717;
    padding: 1.2vw 9vw 0.5vw 2vw;
    color: white;
    font-weight: 400;
    font-size: 1vw;
    white-space: nowrap;
    text-overflow: inherit;
    cursor: pointer;
    
}
/* ---------------------------------------------------
    Scroll Bar (Customed)
----------------------------------------------------- */
/* width */
*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


</style>
