<template>
  <div class="player">
    
     
        <p class=" col-md-10 col-lg-10 col-xl-8 song-title">Sky Full of Stars</p>
        <div class="container-fluid player-music">
        <div class="player-container">
            <div class="row player-container2">
                <div class="col-md-1">
                    <div class="album-cover"></div>
                </div>
                <div class="col-md-3 song-info">
                    
                </div>
                <div class="col-md-3 duration-section">
                <progress class="duration-bar" min=0 max=100 value=41></progress>
                <div class="player-icons-container">
                   
                    <img class="player-icons-items icon-size" src="../assets/fast_rewind_white_24dp.svg">
                    <img class="player-icons-items icon-size" src="../assets/play_arrow_white_24dp.svg">
                    <img class="player-icons-items icon-size" src="../assets/fast_forward_white_24dp.svg">
                
                </div>
                </div>
            </div>
            </div>
        </div>
  </div>
  
</template>

<script>
export default {
  name: 'playercontrols',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.duration-section {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.duration-bar {
    width: 40vw;
    height: 2px;
    border-radius: 100px;
}
.duration-bar::-webkit-progress-bar {
    border: 0;
    background: white;
    border-radius: 100px;
}
.duration-bar::-webkit-progress-value {
    border: 0;
    background-color: white;
    border-radius: 100px;
}

.player-icons-container {
    margin-top: 2vh;
}
.player-icons-items {
    margin:  0 0.9vw;
    width: 25px;

}

.song-title {
    text-align: center;
    color: white;
    font-size: 1vw;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: sans-serif, 'Roboto';
}

</style>
