<template>
  <div class="wrapper">
            <nav id="sidebar">
            <div class="container player-logo">
        <div class="d-flex logo justify-content-center">
            <img class="img-fluid logo-image" src="..\assets\morphic.png" alt="Official-Logo">  
        </div>
        <div class="space-divider"></div>     
        <div class="button-container">
        <button type="button" v-on:click="openUpload" class="menu-button"> Upload Music</button>
        
        <button type="button" class="menu-button"> All Songs</button>
            
        <button type="button" v-on:click="openCreate" class="menu-button"> Create Playlist</button>
        <br>
        <button type="button" class="playlist-button"> Favorite Songs</button>
        <button type="button" class="playlist-button"> Playlist  1</button>
        <button type="button" class="playlist-button"> Playlist</button>
        <button type="button" class="playlist-button"> Playlist</button>
        </div>
            </div>
            </nav>
    </div>


    <div id="upload-dd-container" class="upload-modal">
        <div class="upload-box-container">
        <div class="upload-box">
            <div class="upload-box-header">Upload Music</div>
            <div class="drag-container justify-content-center">
            <div class="upload-box-content">Drag and Drop files here</div>
            </div>
            <div class="upload-box-button">
            <button class="upload-button-color">Upload</button>
            <button id="cancel-upload" v-on:click="cancelUpload" class="cancel-button-color">Cancel</button>
            </div>
        </div>
    </div>
    </div>
         <div id="create-dd-container" class="modal-container2">
        <div class="create-box-container">
        <div class="create-box">
            <div class="create-box-header">
            Create Playlist
            </div>
            <input class="name-playlist">
            <div class="create-box-button">
            <button class="create-button-color">Create</button>
            <button id="cancel-upload" v-on:click="cancelCreate" class="cancel-button-color">Cancel</button>
            </div>
        </div>
    </div>
    </div>
        





</template>

<script>
export default {
  name: 'sidebar',
  props: {
    msg: String
  }
  ,methods:{
      openUpload(){
           document.getElementById("upload-dd-container").style.visibility = "visible";
      }
      ,cancelUpload() {
            document.getElementById("upload-dd-container").style.visibility = "hidden";
  }
      ,openCreate() {
           document.getElementById("create-dd-container").style.visibility = "visible";
  }
      ,cancelCreate() {
            document.getElementById("create-dd-container").style.visibility = "hidden";
  }

}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.img-fluid.logo-image{
    width:148px;
    height:44px;
}
.d-flex.logo{
	align-content: center;
    padding-top: 7vh;
}
#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 5;
    height: 100vh;
    z-index: 999;
    background: #171717;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
.space-divider {
    padding-top: 3rem;
}


.button-container {
    display: flex;
    flex-direction: column;
    margin-top: -0.3vh
    
}
.menu-button, .playlist-button {
    font-family: sans-serif, 'Roboto';
    
    background: #171717;
    border: none;
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 80;
    padding: 13px 0;
    padding-left: 40px;
    margin-top: -1.4px;
    transition: 0.1s;
}

.menu-button:hover, .playlist-button:hover {
    background: #5526C4;
}
.upload-modal {
    visibility: hidden;
    font-family: sans-serif, 'Roboto';
}

.upload-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.upload-box {
    display: flex;
    flex-direction: column;
    background: #515151;
    margin: auto;
    height: 50vh;
    width: 40vw;
}

.upload-box-header {
    padding: 15px;
    padding-left: 30px;
    height: 8vh;
    width: 100%;
    color: white;
    font-weight: 700;
}

.upload-box-content {
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 80px;
}

.upload-box-button {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 210px;
    bottom: 0;
    left: 0;
}
.drag-container{
    text-align: center;
    height: 25vh;
    top: 400px;
    padding: 6px;
    padding-left: 20px;
    margin: 20px;
    background: #838383;

}
.upload-box-button button {
    border: none;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}
.upload-button-color {
    background: #171717;
    color: white;
}

.cancel-button-color {
    background: #838383;
    color: white;
}

.modal-container2 {
    visibility: hidden;
}

.create-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.create-box {
    display: flex;
    flex-direction: column;
    background: #515151;
    margin: auto;
    height: 40vh;
    width: 40vw;
}

.create-box-header {
    padding: 15px;
    padding-left: 30px;
    height: 15vh;
    width: 100%;
    color: white;
    font-weight: 900;
}

.name-playlist {
    font-weight: 200;
    color:black;
    text-align: left;
    padding: 6px;
    padding-left: 20px;
    margin: 20px;
    background: #838383;
    border: none;
    border-radius: 5px;
}

.create-box-button {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 210px;
    bottom: 0;
    left: 0;
}

.create-box-button button {
    border: none;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.create-button-color {
    background: #171717;
    color: white;
}

.cancel-button-color {
    background: #838383;
    color: white;
}


</style>