<template>

  <musictable/>
  <sidebar/>
  <playercontrols/>
</template>

<script>
import musictable from './components/musictable.vue'
import Playercontrols from './components/playercontrols.vue'
import Sidebar from './components/sidebar.vue'

export default {
  name: 'App',
  components: {
    musictable,
    Sidebar,
    Playercontrols,
    
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

#app {
  font-family: Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
